// Loading Spinner
@mixin loading-spinner {
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: loading-spinner 700ms infinite linear;
    -moz-animation: loading-spinner 700ms infinite linear;
    -ms-animation: loading-spinner 700ms infinite linear;
    animation: loading-spinner 700ms infinite linear
}
