.about {
    .jumbotron {
        background: $polar;
        padding: 100px 0;

        @include less-than-ipad {
            padding: 50px 0;
        }

        &__container {
            width: 70%;
            margin: 0 auto;

            @include sm-desktop {
                width: 80%;
            }

            @include less-than-tab-land {
                width: 80%
            }

            @include less-than-ipad {
                width: 85%
            }
        }

        &__content {
            width: 60%;

            @include less-than-tab-land {
                width: 80%
            }

            @include less-than-ipad {
                width: 100%;
            }

            h1 {
                padding-bottom: 20px;
                line-height: 1.3;
            }

            p {
                font-family: Roboto,sans-serif;
                line-height: 33px;
                font-size: 15px;
                letter-spacing: 0;
            }
        }

        &__link {
            color: $curious-blue;
        }
    }

    .skills {
        width: 70%;
        margin: 0 auto;
        padding: 100px 0;

        @include sm-desktop {
            width: 80%;
        }

        @include less-than-tab-land {
            width: 85%
        }

        h1 {
            padding-bottom: 75px;

            @include less-than-ipad {
                padding-bottom: 20px;
            }
        }

        &__container .skill {
            position: relative;
            margin: 0 auto;
            height: 250px;

            @include less-than-ipad {
                display: inline-block;
                height: auto;
            }

            .skill__content {
                width: 45%;
                display: inline-block;
                vertical-align: top;

                @include less-than-ipad {
                    width: 100%;
                }

                p {
                    font-size: 15px;
                    font-family: Roboto,sans-serif;
                    letter-spacing: 0;
                    line-height: 20px;
                }
            }

            img {
                position: absolute;
                display: inline-block;
                height: auto;
                float: right;
                right: 10%;
                bottom: 20%;

                @include sm-desktop {
                    right: 2%;
                    bottom: 15%;
                }

                @include less-than-tab-land {
                    width: 45%;
                    right: 0;
                    bottom: 10%;
                }

                @include less-than-ipad {
                    position: relative;
                    width: 50%;
                    left: 0;
                    right: 0;
                    display: block;
                    margin: 30px auto;
                    float: right;
                    transform: translateX(-50%);
                }

                @include mobile-lg {
                    position: relative;
                    width: 80%;
                    left: 0;
                    right: 0;
                    display: block;
                    margin: 30px auto;
                    float: right;
                    transform: translateX(-40px);
                }

                @include mobile {
                    position: relative;
                    width: 80%;
                    left: 0;
                    right: 0;
                    display: block;
                    margin: 30px auto;
                    float: right;
                    transform: translateX(-15%);
                }
            }

            &:nth-child(even) {
                img {
                    float: left;
                    left: 10%;

                    @include sm-desktop {
                        left: 2%;
                    }

                    @include less-than-tab-land {
                        left: 0;
                    }

                    @include less-than-ipad {
                        transform: translateX(50%); 
                    }

                    @include mobile-lg {
                        transform: translateX(30px); 
                    }

                    @include mobile {
                        transform: translateX(10%); 
                    }
                }
                .skill__content {
                    float: right;
                }
            }

            &:nth-child(3) img {
                @include mobile-lg {
                    transform: translateX(-45px);
                }
            }

            &:last-child img {
                transform: none;
                margin-bottom: 0;

                @include less-than-ipad {
                    transform: translateX(50%); 
                }

                @include mobile-lg {
                    transform: translateX(40px);
                }

                @include mobile {
                    transform: translateX(12.5%);
                }
            }
        }
    }
}