button {
    &.form-button {
        display: block;
        float: right;
        width: 150px;
        font-size: 22px;
        border-radius: 2px;
        background-color: $curious-blue;
        border: 1px solid $curious-blue;
        cursor: pointer;
        box-shadow: 1px 1.7px 6px 0 rgba(0, 0, 0, 0.1);
        color: $white;
        text-transform: uppercase;
        letter-spacing: 0.4px;
        padding: 8px 16px;
        min-width: 88px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
            box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        min-height: 36px;
        box-sizing: border-box;
        line-height: 1.4em;
        outline: none;
        font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
        font-weight: 500;

        &:before {
            content: '';
            clear: both;
        }

        @include less-than-ipad {
            width: 100%;
            margin-top: 20px;
        }

        &:hover {
            background-color: $picton-blue;
            border: 1px solid $picton-blue;
        }
    }
}
