button {
    &.form-button {
        display: block;
        float: right;
        width: 150px;
        font-size: 22px;
        border-radius: 2px;
        background-color: $curious-blue;
        border: 1px solid $curious-blue;
        cursor: pointer;
        box-shadow: 1px 1.7px 6px 0 rgba(0, 0, 0, 0.1);
        color: $white;
        text-transform: uppercase;
        letter-spacing: .4px;

        &:before {
            content: '';
            clear: both;
        }

        @include less-than-ipad {
            width: 100%;
            margin-top: 20px;
        }

        &:hover {
            background-color: $picton-blue;
            border: 1px solid $picton-blue;
        }
    }
}
