form {
    margin: 0 auto;
    margin-top: 100px;
    width: 80%;

    h4 {
        font-size: 22px;
        font-weight: bold;
    }

    .form__row {
        display: block;
        width: 100%;
    }

    .form__item,
    .form__item-lg {
        display: inline-block;
        margin: 10px 0;
        width: 46%;
        float: right;

        @include less-than-ipad {
            display: block;
            width: 100%;
        }

        &:first-child {
            float: left;
        }

        label {
            font-size: 18px;

            &.invalid {
                color: $punch;
            }
        }

        input,
        textarea {
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            display: block;
            box-sizing: border-box;
            background-color: $catskill-white;
            color: $limed-spruce;
            border: none;
            width: 100%;
            margin: 5px 0;
            height: 55px;
            padding: 5px 0 5px 15px;
            font: inherit;
            font-size: 18px;
            border-radius: 0;

            &.invalid {
                border: 1px solid $punch;
                border-radius: 0;
            }

            &:focus {
                outline: none;
            }
        }

        textarea {
            height: 150px;
            padding-top: 15px;
        }

        div {
            visibility: hidden;
            text-align: right;
            color: $punch;
            letter-spacing: .3px;
            font-size: 12px;
            font-weight: bold;
            line-height: 2;
            text-transform: uppercase;

            &.invalid {
                visibility: visible;
            }
        }
    }

    .form__item-lg {
        width: 100%;
    }

    button {
        outline: 0;
        transition: background-color .2s, border .2s;

        &.form-button {
            display: block;
            float: left;
            height: 40px;
            width: 150px;
            font-size: 16px;
            font-weight: 900;
            border-radius: 2px;
            background-color: $curious-blue;
            border: 1px solid $curious-blue;
            cursor: pointer;
            box-shadow: 1px 1.7px 6px 0 rgba(0, 0, 0, 0.1);
            color: $white;
            text-transform: uppercase;
            letter-spacing: .4px;

            &:before {
                content: '';
                clear: both;
            }

            &__text{
                font-weight: 900;
            }

            @include less-than-ipad {
                width: 100%;
                margin-top: 20px
            }

            &:hover {
                background-color: $picton-blue;
                border: 1px solid $picton-blue;
            }
        }
    }
}