/* stylelint-disable */
form {
    font-family: 'Varela Round';
    background: none;
    margin: 0 auto;
    margin-top: 70px;
    width: 60%;

    @include sm-desktop {
        height: 80vh;
        width: 70%;
    }

    @include less-than-tab-land {
        margin-top: 30px;
        width: 85%;
    }

    @include less-than-ipad {
        height: 185vh;
    }

    @include mobile-lg {
        height: 100vh;
    }

    @include mobile {
        height: 105vh;
    }

    @include mobile-small {
        height: 120vh;
    }

    h4 {
        font-size: 30px;
        font-weight: bold;
        margin: 100px 0;

        @include sm-desktop {
            margin: 50px 0;
        }

        @include less-than-ipad {
            margin: 40px 0;
        }
    }

    .form__row {
        display: block;
        width: 100%;
    }

    .form__item,
    .form__item-lg {
        display: inline-block;
        margin: 10px 0;
        width: 46%;
        float: right;

        @include less-than-ipad {
            display: block;
            width: 100%;
        }

        &:first-child {
            float: left;
        }

        label {
            font-size: 18px;

            &.invalid {
                color: $punch;
            }
        }

        input,
        textarea {
            font-family: 'Rubik', sans-serif;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            display: block;
            box-sizing: border-box;
            background-color: $catskill-white;
            color: $limed-spruce;
            border: none;
            width: 100%;
            margin: 5px 0;
            height: 55px;
            padding: 5px 0 5px 15px;
            font: inherit;
            font-size: 18px;
            border-radius: 0;
            transition: opacity .2s;  

            &.invalid {
                border: 1px solid $punch;
                border-radius: 0;
            }

            &:focus {
                outline: none;
            }
        }

        textarea {
            height: 150px;
            padding-top: 15px;
        }

        div {
            visibility: hidden;
            text-align: right;
            color: $punch;
            letter-spacing: .3px;
            font-size: 12px;
            font-weight: bold;
            line-height: 2;
            text-transform: uppercase;

            &.invalid {
                visibility: visible;
            }
        }
    }

    .form__item-lg {
        width: 100%;
    }
}

.icon-tongue {
    padding-left: 15px;
    font-size: 25px;
    vertical-align: text-bottom;
}

.leaflet-container {
    position: fixed !important;
    opacity: .15;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    @include less-than-ipad {
        position: relative !important;
        opacity: .6;
        height: 200px;
        z-index: 95;
    }
}