.error {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    &__overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1;
        opacity: .6;
        background-color: $regent-gray;
    }

    &__wrapper {
        background: $white;
        padding: 50px;
        position: absolute;
        font: $primary-font;
        z-index: 2;
        border-radius: 3px;
        box-shadow: 0 1px 17px 0 rgba(0, 0, 0, 0.03);
        text-align: center;
        width: 350px;
        height: 250px;
        opacity: 1;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        button.form-button {
            margin: 0 auto;
            float: none
        }
    }

    &__text {
        margin: 15px auto;
        margin-bottom: 50px;
        font: inherit;
        font-size: 40px;
        font-weight: 300;
        line-height: 1.5;
        color: $curious-blue
    }

    &__title h2 {
        line-height: 1.5;
    }
}