/* stylelint-disable */
$icomoon-font-path: '../fonts' !default;

$icon-angel: \e916;
$icon-brand: \e90f;
$icon-briefcase: \e910;
$icon-home: \e915;
$icon-map-pin: \e911;
$icon-message-circle: \e912;
$icon-message-square: \e913;
$icon-user: \e914;
$icon-github: \eab0;
$icon-linkedin: \eac9;

/* hebrew */
@font-face {
    font-family: 'Varela Round';
    font-style: normal;
    font-weight: 400;
    src: local('Varela Round Regular'), local('VarelaRound-Regular'),
        url(https://fonts.gstatic.com/s/varelaround/v10/w8gdH283Tvk__Lua32TysjIfpcuPP9g.woff2)
            format('woff2');
    unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* vietnamese */
@font-face {
    font-family: 'Varela Round';
    font-style: normal;
    font-weight: 400;
    src: local('Varela Round Regular'), local('VarelaRound-Regular'),
        url(https://fonts.gstatic.com/s/varelaround/v10/w8gdH283Tvk__Lua32TysjIfqMuPP9g.woff2)
            format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Varela Round';
    font-style: normal;
    font-weight: 400;
    src: local('Varela Round Regular'), local('VarelaRound-Regular'),
        url(https://fonts.gstatic.com/s/varelaround/v10/w8gdH283Tvk__Lua32TysjIfqcuPP9g.woff2)
            format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
        U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Varela Round';
    font-style: normal;
    font-weight: 400;
    src: local('Varela Round Regular'), local('VarelaRound-Regular'),
        url(https://fonts.gstatic.com/s/varelaround/v10/w8gdH283Tvk__Lua32TysjIfp8uP.woff2)
            format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'portfolio';
    src: url('#{$icomoon-font-path}/portfolio.eot?7gcc6t');
    src: url('#{$icomoon-font-path}/portfolio.eot?7gcc6t#iefix') format('embedded-opentype'),
        url('#{$icomoon-font-path}/portfolio.ttf?7gcc6t') format('truetype'),
        url('#{$icomoon-font-path}/portfolio.woff?7gcc6t') format('woff'),
        url('#{$icomoon-font-path}/portfolio.svg?7gcc6t#portfolio') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'portfolio' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@function unicode($str) {
    @return unquote('"') + $str + unquote('"');
}

.icon-angel {
    &:before {
        content: unicode($icon-angel);
    }
}
.icon-brand {
    &:before {
        content: unicode($icon-brand);
    }
}
.icon-briefcase {
    &:before {
        content: unicode($icon-briefcase);
    }
}
.icon-home {
    &:before {
        content: unicode($icon-home);
    }
}
.icon-map-pin {
    &:before {
        content: unicode($icon-map-pin);
    }
}
.icon-message-circle {
    &:before {
        content: unicode($icon-message-circle);
    }
}
.icon-message-square {
    &:before {
        content: unicode($icon-message-square);
    }
}
.icon-user {
    &:before {
        content: unicode($icon-user);
    }
}
.icon-github {
    &:before {
        content: unicode($icon-github);
    }
}
.icon-linkedin {
    &:before {
        content: unicode($icon-linkedin);
        color: #007bb6;
    }
}
