/* stylelint-disable */
$icomoon-font-path: '../fonts' !default;

$icon-angel: \e916;
$icon-brand: \e90f;
$icon-briefcase: \e910;
$icon-home: \e915;
$icon-map-pin: \e911;
$icon-message-circle: \e912;
$icon-message-square: \e913;
$icon-user: \e914;
$icon-github: \eab0;
$icon-linkedin: \eac9;

@font-face {
    font-family: 'portfolio';
    src: url('#{$icomoon-font-path}/portfolio.eot?7gcc6t');
    src: url('#{$icomoon-font-path}/portfolio.eot?7gcc6t#iefix') format('embedded-opentype'),
        url('#{$icomoon-font-path}/portfolio.ttf?7gcc6t') format('truetype'),
        url('#{$icomoon-font-path}/portfolio.woff?7gcc6t') format('woff'),
        url('#{$icomoon-font-path}/portfolio.svg?7gcc6t#portfolio') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'portfolio' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@function unicode($str) {
    @return unquote('"') + $str + unquote('"');
}

.icon-angel {
    &:before {
        content: unicode($icon-angel);
    }
}
.icon-brand {
    &:before {
        content: unicode($icon-brand);
    }
}
.icon-briefcase {
    &:before {
        content: unicode($icon-briefcase);
    }
}
.icon-home {
    &:before {
        content: unicode($icon-home);
    }
}
.icon-map-pin {
    &:before {
        content: unicode($icon-map-pin);
    }
}
.icon-message-circle {
    &:before {
        content: unicode($icon-message-circle);
    }
}
.icon-message-square {
    &:before {
        content: unicode($icon-message-square);
    }
}
.icon-user {
    &:before {
        content: unicode($icon-user);
    }
}
.icon-github {
    &:before {
        content: unicode($icon-github);
    }
}
.icon-linkedin {
    &:before {
        content: unicode($icon-linkedin);
        color: #007bb6;
    }
}
