.footer {
    position: relative;
    background: $white;
    font-family: 'Varela Round', serif;
    height: 80px;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    &.fixed {
        position: fixed;

        &.footer__portfolio {
            @include sm-desktop {
                position: relative;
            }
            @include less-than-tab-land {
                position: relative;
            }
        }

        @include less-than-ipad {
            position: relative;
        }
    }

    &__wrapper {
        width: 70%;
        height: 100%;
        position: relative;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0 30px;

        @include sm-desktop {
            width: 80%;
        }

        @include less-than-tab-land {
            width: 85%;
            height: 75px;
        }
    }

    &__text,
    .social-links {
        position: absolute;
        display: inline-block;
        box-sizing: border-box;
        padding: 20px 0;
        width: fit-content;
        top: 0;
        right: 0;
        line-height: 40px;
    }

    &__text {
        font-size: 16px;
        text-align: left;
        float: left;
        left: 0;
    }

    .social-links {
        text-align: right;
        float: right;

        @include less-than-tab-land {
            padding: 17.5px 0;
        }

        a {
            text-decoration: none;
            color: inherit;
        }

        li {
            list-style: none;
            display: inline-block;
            vertical-align: sub;

            i {
                font-size: 20px;
                cursor: pointer;
                transition: opacity 0.2s;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}
