@import url('https://fonts.googleapis.com/css?family=Eczar');
@import url('https://fonts.googleapis.com/css?family=Rubik');

html, body {
    font: $primary-font;
    font-family: 'Eczar', serif;
    color: $limed-spruce;
    background: $white;
    width: 100%;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.home,
.about,
.portfolio,
.contact {
    margin-top: 80px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
