.navbar {
    font-family: 'Varela Round', serif;
    background: $white;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    width: 100%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    z-index: 99;

    &__brand {
        position: absolute;
        font-size: 50px;
        background: $curious-blue;
        color: $white;
        width: 50px;
        display: inline-block;
        float: left;
        padding: 15px 30px;

        @include less-than-ipad {
            padding: 15px 25px;
            width: 45px;
            z-index: 2;
        }
    }

    .hamburger {
        position: absolute;
        display: none;
        top: 2px;
        right: 0;
        width: 30px;
        padding: 20px 25px;

        @include less-than-ipad {
            display: block;
            z-index: 2;
        }

        div {
            position: relative;
            margin: 7px 0;
            height: 3px;
            background: $curious-blue;
            border-radius: 5px;
            transition: all 200ms ease-out;

            &:nth-child(2) {
                width: 65%;
            }
        }

        &.active div {
            transition: all 200ms ease-out;

            &:first-child {
                top: 10.5px;
                transform: rotate(315deg);
            }

            &:nth-child(2) {
                display: none;
            }

            &:last-child {
                top: 10.5px;
                transform: rotate(-315deg) translateY(-14px);
                right: 10px;
            }
        }
    }

    &__menu {
        display: block;
        list-style: none;
        font-size: 16px;
        float: right;
        padding: 10px 15px;
        font-weight: bold;

        &.collapsed {
            text-align: center;
            transform: scaleY(0);
            transition: transform 0.3s cubic-bezier(0.71, 0.02, 0.9, 0.23), opacity 0.1s;
            transform-origin: top;

            @include less-than-ipad {
                transition: transform 0.1s cubic-bezier(0.71, 0.02, 0.9, 0.23), opacity 0.1s;
            }
        }

        &.active {
            text-align: center;
            opacity: 1;
            transform: scaleY(1);
            transition: transform 0.3s cubic-bezier(0.01, 0.03, 0.29, 1.17), opacity 0.2s;
            transform-origin: top;
        }

        @include less-than-ipad {
            height: 100vh;
            float: none;
            background: $white;

            a {
                &:first-child {
                    margin-top: 50px;
                    padding: 30px 10px;
                    border-bottom: 1px solid $catskill-white;
                }

                &:nth-child(2) {
                    padding-top: 30px;
                }

                &:last-child {
                    border-bottom: 1px solid $catskill-white;
                    padding-bottom: 30px;
                }
            }
        }

        a {
            display: inline-block;
            cursor: pointer;
            transition: opacity 0.2s;
            min-width: 0;

            span {
                font-family: 'Varela Round', serif;
                text-transform: none;
            }

            i {
                display: none;
            }

            &.active {
                color: $curious-blue;
            }

            &:hover {
                opacity: 0.8;
            }

            @include less-than-ipad {
                display: block;
                padding: 20px 10px;
                text-align: left;

                i {
                    display: block;
                    float: right;
                    font-size: 25px;
                }
            }
        }
    }
}
