.portfolio {
    padding: 0 70px;

    &__header {
        font-size: 18px;
        font-weight: bold;
        padding: 30px 0;

        @include less-than-ipad {
            padding: 10px 20px;
        }
    }

    &__row {
        display: block;
    }

    &__item {
        display: inline-block;
        border-radius: 2px;
        margin: 0 0 35px 35px;
        height: 450px;
        width: 375px;
        background: $aqua-haze;

        &:first-child {
            margin: 0;
        }

        &--preview {
            height: 275px;
            width: 100%;
            background: $curious-blue;
        }

        &--info {
            padding: 20px;

            div {
                padding: 5px 0;

                &:first-child {
                    font-weight: bold;
                }

                &.chips {
                    display: inline-flex;
                    padding-top: 0;
                }
            }
        }
    }
}