/* stylelint-disable */
// Colors
$catskill-white: #ecf1f6;
$curious-blue: #269bda;
$picton-blue: #42a9e0;
$limed-spruce: #3d575d;
$white: #ffffff;
$black: #000000;

// Font
$primary-font: normal 14px/21px 'Open Sans', sans-serif;

// Media Query Breakpoints
$bp-xl-desktop: 2000px;
$bp-lg-desktop: 1600px;
$bp-md-desktop: 1200px;
$bp-tab-land: 1024px;
$bp-tab-port: 768px;
$bp-fablet: 414px;
$bp-phone: 375px;
